:root {
  --bg-color: #19283f;
  --links-color: #00c6bf;
  --button-bg-color: #ff3150;
  --main-color: #ffbb06;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: var(--bg-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .image {
  width: 100px;
  margin: 10px;
}
header .container img {
  max-width: 100%;
}
header .container ul {
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
}
header .container ul li:hover a {
  color: var(--links-color);
}
header .container ul a {
  color: #a8b9c0;
  font-weight: 400;
}
a {
  text-decoration: none;
}
header .container ul li:first-child a {
  color: var(--links-color);
}
header .container .bar {
  height: 25px;
  width: 2px;
  background-color: var(--links-color);
}
header .container .search {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--links-color);
  position: relative;
}
header .container .search::before {
  content: "";
  height: 10px;
  width: 2px;
  background-color: var(--links-color);
  position: absolute;
  bottom: -7px;
  right: -4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.button {
  width: 200px;
  background-color: var(--button-bg-color);
  color: var(--main-color);
  height: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 125px;
  cursor: pointer;
}
button {
  border: none;
}
.Bars {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
}
.bars {
  margin-bottom: 7px;
  width: 25px;
  height: 2px;
  background-color: white;
}
@media (max-width: 991px) {
  header nav .search,
  header nav .bar,
  header nav .button,
  header nav ul li {
    display: none;
  }
  .Bars {
    display: flex;
  }
  .blog .blog {
    text-align: center;
  }
  .about .container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center !important;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container p {
    padding: 10px 0 5px;
  }
  .about .title p {
    width: 300px !important;
  }
}
header .title1 {
  margin: 0 auto;
  padding: 120px 0;
  width: fit-content;
  text-align: center;
}
header .title1 h1 {
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: 0 0 10px 0;
}
header .title1 p {
  color: #a8b9c0;
  margin: 0 0 40px 0;
}
header .title1 button {
  width: 200px;
}
.title {
  margin: 0 auto;
  padding-top: 50px;
  width: fit-content;
  text-align: center;
}
.title i {
  margin-bottom: 30px;
  font-size: 65px;
  color: var(--main-color);
}
.title h2 {
  color: #1a2940;
  font-size: 35px;
  font-weight: 600;
}
.title h4 {
  color: #a8b9c0;
  font-weight: 400;
  margin: 15px 0;
}
.title span {
  display: block;
  margin: 0px auto;
  width: 150px;
  height: 1.5px;
  background-color: var(--links-color);
}

.services .container {
  margin-top: 125px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 50px;
}
.services .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services .container .service span {
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 4px solid var(--links-color);
  position: relative;
  margin-bottom: 10px;
}
.services .container .service span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: var(--links-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.services .container .service i {
  font-size: 40px;
  color: var(--links-color);
}
.services .container .service h3 {
  margin: 20px 0;
  color: var(--main-color);
}
.services .container .service p {
  color: #a8b9c0;
  line-height: 1.8;
}

.portfolio {
  background-color: #eff7fa;
  margin-top: 50px;
  padding-bottom: 50px;
}
.portfolio nav {
  width: fit-content;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 30px;
}
.portfolio nav button {
  padding: 15px 20px;
  color: #a8b9c0;
  background-color: transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio nav button:hover {
  color: var(--main-color);
  background-color: var(--button-bg-color);
}
.portfolio nav button:first-child {
  color: var(--main-color);
  background-color: var(--button-bg-color);
}
.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}
.portfolio .container img {
  max-width: 100%;
}
.portfolio .container div:first-child {
  background-color: var(--links-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfolio .container div h5 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.portfolio .container div h6 {
  color: var(--bg-color);
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
}
.portfolio .container div {
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -ms-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}
.portfolio .container div:hover {
  transform: scale(1.1) rotate(1.5deg);
  -webkit-transform: scale(1.1) rotate(1.5deg);
  -moz-transform: scale(1.1) rotate(1.5deg);
  -ms-transform: scale(1.1) rotate(1.5deg);
  -o-transform: scale(1.1) rotate(1.5deg);
}
.portfolio .button {
  display: block;
  margin: 50px auto 0;
  text-transform: uppercase;
  width: 200px;
}
.about {
  margin-bottom: 70px;
}
.about .title p {
  width: 700px;
  color: #a8b9c0;
  padding: 25px 0;
  line-height: 1.6;
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .info {
  width: 400px;
  line-height: 1.6;
}
.about .info h3 {
  font-size: 35px;
  color: var(--bg-color);
  margin-bottom: 10px;
}
.about .info p {
  color: #a8b9c0;
}
.about .macbook {
  width: 600px;
  height: 266px;
}
.about .macbook img {
  max-width: 100%;
}

.meet {
  background-color: #eff7fa;
  position: relative;
  padding-top: 100px;
}
.meet .titlex {
  text-align: center;
}
.meet .titlex h3 {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 25px;
}
.meet .titlex p {
  color: #a8b9c0;
  line-height: 1.6;
}
.teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  text-align: center;
  gap: 35px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.teams .team {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.teams .team img {
  height: 399px;
  max-width: 100%;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  -ms-transform: scaleY(0.7);
  -o-transform: scaleY(0.7);
  margin-top: -60px;
}
.teams .team h3 {
  color: white;
  background-color: var(--links-color);
  padding: 20px 0;
}
.teams .team p {
  color: #a8b9c0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.advertise {
  background-color: var(--bg-color);
  text-align: center;
  padding: 100px 0;
}
.advertise h2 {
  color: white;
  font-weight: 400;
  font-size: 37px;
}
.advertise p {
  color: #a8b9c0;
  padding: 20px 0;
}
.advertise .button {
  margin-top: 25px;
  width: 215px;
}
.blog .blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px;
  margin-top: 65px;
}
.blog .blog img {
  max-width: 100%;
  height: 222.609px;
}
.blog .blog p {
  color: #a8b9c0;
  font-size: 15px;
  margin: 5px 0;
}
.blog .blog h5 {
  color: var(--bg-color);
  font-size: 22px;
  font-weight: 500;
}
.blog .blog div img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.blog .blog div img:hover {
  transform: scale(1.1) rotate(-2.5deg);
  -webkit-transform: scale(1.1) rotate(-2.5deg);
  -moz-transform: scale(1.1) rotate(-2.5deg);
  -ms-transform: scale(1.1) rotate(-2.5deg);
  -o-transform: scale(1.1) rotate(-2.5deg);
}
.blog .container button {
  margin: 50px auto;
  width: 200px;
  display: block;
}
footer {
  background-color: var(--bg-color);
  padding: 25px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer img {
  width: 125px;
}
footer .container p {
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .container i {
  font-size: 25px;
  margin-left: 10px;
  color: rgb(145, 128, 128);
}
.fa-facebook-square:hover {
  color: rgb(0, 102, 255);
}
.fa-instagram-square:hover {
  color: rgb(255, 45, 150);
}
.fa-envelope:hover {
  color: #ff5031;
}
.fa-youtube-square:hover {
  color: #ff0c30;
}
.fa-twitter-square:hover {
  color: rgb(0, 132, 255);
}
